@import '../../css/message-collapse.css';
@import '../../css/message-markdown.css';
@import '../../css/message-nested-config-table.css';
@import '../../css/message-content-default.css';
@import '../../css/message-config-table.css';

.message-content {
  gap: 10px;
  padding-right: var(--multimodal-message-content-padding-h);
  padding-left: var(--multimodal-message-content-padding-h);
}

.content-block {
  color: var(--font-color);
}

pre.message-pre {
  padding: 0;
  margin: 0;
  font-size: 0.9em;

  background-color: transparent;
  background: transparent;

  & code {
    background-color: transparent;
    background: transparent;
    white-space: pre-wrap;
  }
}

.code-block-splitter {
  width: 100%;
  margin: 0.5em 0;
  height: 1px;
  background-color: var(--gray-300);
}

.code-block-title {
  color: var(--gray-700);
  font-variant: small-caps;
  width: 100%;
}

.message-text[contenteditable] {
  padding: 2px;
  margin: 3px 2px;
  width: auto;
  outline: 2px solid var(--message-text-outline-color, var(--blue-100));
  outline-style: var(--message-text-outline-style, solid);
  border-radius: 2px;
  transition: outline-color 150ms;

  &:focus {
    outline-color: var(--blue-500);
  }
}
