/**
 * Derived from Coldark Theme for Prism.js.
 * Original author: Armand Philippot <contact@armandphilippot.com>
 * Original project: https://github.com/ArmandPhilippot/coldark-prism
 * License: MIT
 */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: var(--prism-color-comment);
}

.token.punctuation {
    color: var(--prism-color-text);
}

.token.tag,
.token.selector .parent,
.token.tag .token.punctuation {
    color: var(--prism-color-tag);
}

.token.attr-name,
.token.boolean,
.token.number,
.token.constant {
    color: var(--prism-color-boolean-number);
}

.token.class-name,
.token.key,
.token.parameter,
.token.property {
    color: var(--prism-color-class-name);
}

.token.string,
.token.inserted {
    color: var(--prism-color-string);
}

.token.builtin,
.token.keyword-array,
.token.package,
.token.regex {
    color: var(--prism-color-builtin-regex);
}

.token.function {
    color: var(--prism-color-function);
}

.token.atrule .token.rule,
.token.keyword,
.token.operator {
    color: var(--prism-color-keyword-operator);
}

.token.deleted,
.token.important {
    color: var(--prism-color-deleted);
}

div.code-toolbar > .toolbar.toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > button {
    color: var(--prism-color-toolbar-text);
    background: var(--prism-color-toolbar-background);
}

div.code-toolbar > .toolbar.toolbar > .toolbar-item > a:hover,
div.code-toolbar > .toolbar.toolbar > .toolbar-item > button:hover {
    background: var(--prism-color-toolbar-hover);
}

.line-highlight.line-highlight {
    background: var(--prism-color-line-highlight);
    background: linear-gradient(to right, var(--prism-color-line-highlight) 70%, var(--prism-color-line-highlight-alt));
}

.line-highlight.line-highlight:before,
.line-highlight.line-highlight[data-end]:after {
    background-color: var(--prism-color-line-highlight-border);
    color: var(--prism-color-toolbar-text);
    box-shadow: 0 1px var(--prism-color-line-highlight-shadow);
}

.line-numbers.line-numbers .line-numbers-rows {
    border-right: 1px solid var(--prism-color-line-numbers-border);
    background: var(--prism-color-line-numbers-background);
}

.line-numbers .line-numbers-rows > span:before {
    color: var(--prism-color-line-numbers-text);
}

.rainbow-braces .token.token.punctuation.brace-level-1 {
    color: var(--prism-color-brace-level-1);
}

.rainbow-braces .token.token.punctuation.brace-level-2 {
    color: var(--prism-color-brace-level-2);
}

.rainbow-braces .token.token.punctuation.brace-level-3 {
    color: var(--prism-color-brace-level-3);
}

.rainbow-braces .token.token.punctuation.brace-level-4 {
    color: var(--prism-color-brace-level-4);
}

pre.diff-highlight > code .token.token.deleted:not(.prefix) {
    background-color: var(--prism-color-diff-deleted);
}

pre.diff-highlight > code .token.token.inserted:not(.prefix) {
    background-color: var(--prism-color-diff-inserted);
}
